@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap");
.header {
  width: 100%;
  height: 90px;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__burger {
  display: none;
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

.container__header {
  padding: 15px 20px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header.logo__img {
  background: url("../assets/icons/logo.png") no-repeat;
  height: 50px;
  width: 50px;
}

.container__header.logo__img:hover {
  background: url("../assets/icons/logo_hover.png") no-repeat;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 22px;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav a:hover {
  color: #BDAE82;
}

.nav a:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: left 0.4s ease 0s;
    transition: left 0.4s ease 0s;
  }
  .nav.active {
    left: 0;
  }
  .nav .nav__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    margin-left: auto;
    height: 100%;
    width: 480px;
  }
  .nav .nav__bar a {
    font-size: 30px;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch__theme {
  background: url("../assets/theme/theme_light.png") no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.switch__theme:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.switch__theme.dark {
  background: url("../assets/theme/theme_dark.png") no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.switch__theme.dark:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.switch__lang {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 22px;
  margin-right: 15px;
}

.switch__lang .lang__item {
  cursor: pointer;
}

.switch__lang .lang__item.lang__active {
  color: #BDAE82;
}

.hero__container {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center -90px;
  height: 820px;
}

.about__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 583px;
  padding: 180px 80px;
}

@media (max-width: 768px) {
  .about__hero {
    width: auto;
  }
}

.about__hero h1 {
  font-family: "Merriweather", serif;
  font-size: 60px;
  color: #fff;
  height: 100px;
}

@media (max-width: 768px) {
  .about__hero h1 {
    font-size: 50px;
  }
}

@media (max-width: 560px) {
  .about__hero h1 {
    font-size: 40px;
  }
}

.about__hero p {
  font-family: "Inter", serif;
  font-size: 20px;
  font-style: italic;
  color: #fff;
  height: 100px;
  letter-spacing: 1px;
}

@media (max-width: 560px) {
  .about__hero p {
    font-size: 16px;
  }
}

.about__hero button {
  width: 220px;
  height: 55px;
  background: #BDAE82;
  color: black;
  margin-top: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Inter", serif;
  border: 2px solid #BDAE82;
}

.about__hero button:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 4px solid black;
}

.skills__container {
  padding: 100px 20px 0;
}

.title__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__section h2 {
  font-family: "Merriweather", serif;
  font-size: 40px;
  color: #BDAE82;
  position: relative;
}

@media (max-width: 768px) {
  .title__section h2 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .title__section h2 {
    font-size: 28px;
  }
}

.title__section h2 span {
  display: inline-block;
  margin: 0.4em;
}

.title__section h2 span::before, .title__section h2 span::after {
  content: '';
  position: absolute;
  width: 85%;
  border-top: 2px solid #BDAE82;
  margin-top: .6em;
}

.title__section h2 span::before {
  margin-left: -87%;
}

.title__section h2 span::after {
  margin-left: 2%;
}

.about__skills {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 40px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -ms-grid-columns: (minmax(320px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  margin-top: 60px;
}

@media (max-width: 1438px) {
  .about__skills {
    -webkit-column-gap: 240px;
            column-gap: 240px;
  }
}

@media (max-width: 768px) {
  .about__skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  margin-right: 20px;
  margin-bottom: 36px;
}

.about__skills .skill:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .about__skills .skill:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 715px) {
  .about__skills .skill {
    margin-right: 0;
  }
}

.about__skills .img__skill {
  width: 62px;
  height: 50px;
  margin-bottom: 50px;
}

.about__skills h3 {
  font-size: 20px;
  font-family: "Inter", serif;
  color: #fff;
}

.about__skills p {
  font-size: 16px;
  font-family: "Inter", serif;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

.about__skills .photo__skill {
  background: url("../assets/icons/camera 1.png") no-repeat center center;
  background-size: contain;
}

.about__skills .video__skill {
  background: url("../assets/icons/video 1.png") no-repeat center center;
  background-size: contain;
}

.about__skills .retouch__skill {
  background: url("../assets/icons/image 1.png") no-repeat center center;
  background-size: contain;
}

.about__skills .audio__skill {
  background: url("../assets/icons/mic 1.png") no-repeat center center;
  background-size: contain;
}

.portfolio__container {
  padding-top: 100px;
}

.portfolio__container .title__section span::before, .portfolio__container .title__section span::after {
  width: 55%;
}

.portfolio__container .title__section span::before {
  margin-left: -57%;
}

.portfolio__container .btn__block {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__container .btn__block .btn__season {
  width: 220px;
  height: 55px;
  background: black;
  border: 2px solid #BDAE82;
  color: #BDAE82;
  margin: 10px;
  font-size: 20px;
  font-family: "Inter", serif;
  -webkit-box-shadow: 0 2px 15px #bdae82;
          box-shadow: 0 2px 15px #bdae82;
}

.portfolio__container .btn__block .btn__season:last-child {
  margin-right: 0;
}

.portfolio__container .btn__block .btn__season:hover {
  background: #BDAE82;
  color: black;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.portfolio__container .btn__block .btn__season.btn__season__active {
  background: #BDAE82;
  color: black;
}

@media (max-width: 720px) {
  .portfolio__container .btn__block .btn__season:nth-child(3) {
    margin-left: 0;
  }
}

@media (max-width: 460px) {
  .portfolio__container .btn__block .btn__season {
    width: 160px;
    height: 35px;
    font-size: 16px;
  }
}

.portfolio__container .portfolio__wrapper {
  margin-top: 50px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__container .portfolio__wrapper .portfolio__img {
  width: 450px;
  height: 560px;
}

@media (max-width: 460px) {
  .portfolio__container .portfolio__wrapper .portfolio__img {
    width: 380px;
    height: 485px;
  }
}

.video__container {
  padding-top: 100px;
}

.video__container .video__wrapper {
  padding: 60px 10px 0;
}

@media (max-width: 768px) {
  .video__container .video__wrapper {
    padding: 60px 0 0;
  }
}

.video__container .video__wrapper .video__player {
  background-image: url("../assets/video-player.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 705px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .video__container .video__wrapper .video__player {
    height: 341px;
    background-size: cover;
  }
}

.video__container .video__wrapper .video__player .btn__video {
  background-image: url("../assets/icons/Play_hover.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 768px) {
  .video__container .video__wrapper .video__player .btn__video {
    width: 75px;
    height: 75px;
  }
}

.video__container .video__wrapper .video__player .btn__video:hover {
  background-image: url("../assets/icons/Play_hover_gold.png");
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.price__container {
  padding: 100px 10px 60px;
}

.price__container .price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .price__container .price__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.price__container .price__wrapper .block_price {
  border: 4px solid #bdae82;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 450px;
  margin: 10px 15px 10px 0;
  padding: 45px 0;
}

.price__container .price__wrapper .block_price:last-child {
  margin-right: 0;
}

.price__container .price__wrapper .block_price h3 {
  font-size: 28px;
  font-family: "Merriweather", serif;
  margin-bottom: 20px;
}

.price__container .price__wrapper .block_price .coast {
  font-size: 24px;
  color: #bdae82;
  margin-bottom: 20px;
}

.price__container .price__wrapper .block_price .block_price_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  line-height: 30px;
}

.price__container .price__wrapper .block_price button {
  width: 220px;
  height: 55px;
  background: #bdae82;
  color: black;
  font-size: 20px;
  font-family: "Inter", serif;
  border-radius: 10px;
  margin-top: 40px;
  border: 2px solid #BDAE82;
  -webkit-box-shadow: 0 2px 15px #bdae82;
          box-shadow: 0 2px 15px #bdae82;
}

.price__container .price__wrapper .block_price button:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 768px) {
  .price__container .price__wrapper .block_price:first-child {
    margin-right: 0;
  }
  .price__container .price__wrapper .block_price:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .price__container .price__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url("../assets/contacts.jpg") no-repeat;
  background-size: cover;
  height: 700px;
}

@media (max-width: 768px) {
  .contact_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.contact_container .contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 60px 20px 0 0;
  width: 450px;
}

.contact_container .contact__wrapper h2 {
  color: #bdae82;
  font-size: 40px;
  font-family: "Merriweather", serif;
  margin-bottom: 40px;
}

.contact_container .contact__wrapper .contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_container .contact__wrapper .contact__form input {
  margin-bottom: 20px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  padding: 5px 0 5px 20px;
  font-family: "Inter", serif;
  font-size: 20px;
  border-radius: 10px;
}

.contact_container .contact__wrapper .contact__form input::-webkit-input-placeholder {
  color: #bdae82;
}

.contact_container .contact__wrapper .contact__form input:-ms-input-placeholder {
  color: #bdae82;
}

.contact_container .contact__wrapper .contact__form input::-ms-input-placeholder {
  color: #bdae82;
}

.contact_container .contact__wrapper .contact__form input::placeholder {
  color: #bdae82;
}

.contact_container .contact__wrapper .contact__form input.contact__text {
  height: 100px;
  margin-bottom: 30px;
}

.contact_container .contact__wrapper .contact__form input.contact__text::-webkit-input-placeholder {
  text-align: start;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.contact_container .contact__wrapper .contact__form input.contact__text:-ms-input-placeholder {
  text-align: start;
  transform: translateY(-25px);
}

.contact_container .contact__wrapper .contact__form input.contact__text::-ms-input-placeholder {
  text-align: start;
  transform: translateY(-25px);
}

.contact_container .contact__wrapper .contact__form input.contact__text::placeholder {
  text-align: start;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.contact_container .contact__wrapper .contact__form button {
  width: 220px;
  height: 55px;
  background: #bdae82;
  color: black;
  font-family: "Inter", serif;
  font-size: 20px;
  border: 2px solid #BDAE82;
  cursor: pointer;
}

.contact_container .contact__wrapper .contact__form button:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 768px) {
  .contact_container .contact__wrapper .contact__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 0 20px;
}

.footer__container .contact__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.footer__container .contact__author p {
  margin-right: 10px;
}

.footer__container .contact__author a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 520px) {
  .footer__container .contact__author a {
    font-size: 14px;
  }
}

.footer__container .contact__author a:hover {
  color: #BDAE82;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer__container .contact__school {
  background: url("../assets/logo_rss/logo_rs.svg") no-repeat;
  background-size: contain;
  width: 100px;
  height: 60px;
}

@media (max-width: 520px) {
  .footer__container .contact__school {
    width: 80px;
  }
}

.footer__container .social__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container .social__contact a {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 520px) {
  .footer__container .social__contact a {
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }
}

.footer__container .social__contact a:last-child {
  margin-right: 0;
}

.footer__container .social__contact .instagram {
  background: url("../assets/icons/inst.png") no-repeat;
  background-size: cover;
}

.footer__container .social__contact .instagram:hover {
  background: url("../assets/icons/inst_gold.png") no-repeat;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__container .social__contact .facebook {
  background: url("../assets/icons/fb.png") no-repeat;
  background-size: cover;
}

.footer__container .social__contact .facebook:hover {
  background: url("../assets/icons/fb_gold.png") no-repeat;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__container .social__contact .twitter {
  background: url("../assets/icons/tw.png") no-repeat;
  background-size: cover;
}

.footer__container .social__contact .twitter:hover {
  background: url("../assets/icons/tw_gold.png") no-repeat;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__container .social__contact .pinterest {
  background: url("../assets/icons/pinterest.png") no-repeat;
  background-size: cover;
}

.footer__container .social__contact .pinterest:hover {
  background: url("../assets/icons/pinterest_gold.png") no-repeat;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: black;
}
/*# sourceMappingURL=index.css.map */