$font-merri: 'Merriweather', serif;
$font-inter: 'Inter', serif;

.hero__container {
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 820px;
}

.about__hero {
    display: flex;
    flex-direction: column;
    width: 583px;
    padding: 180px 80px;

    @media (max-width: 768px) {
        width: auto;
    }

    h1 {
        font-family: $font-merri;
        font-size: 60px;
        color: #fff;
        height: 100px;

        @media (max-width: 768px){
            font-size: 50px;
        }
    }

    p {
        font-family: $font-inter;
        font-size: 20px;
        font-style: italic;
        color: #fff;
        height: 100px;
        letter-spacing: 1px;

        @media (max-width: 560px){
            font-size: 16px;
        }
    }

    button {
        width: 220px;
        height: 55px;
        background: #BDAE82;
        color: black;
        margin-top: 40px;
        border-radius: 10px;
        font-size: 20px;
        font-family: $font-inter;
        border: 2px solid #BDAE82;

        &:hover {
            color: #fff;
            transition: all 0.3s ease-out;
            border: 4px solid black;
        }
    }
}

.skills__container {
    padding: 100px 20px 0;
}

.title__section {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: $font-merri;
        font-size: 40px;
        color: #BDAE82;
        position: relative;

        @media (max-width: 768px){
            font-size: 30px;
        }

        span {
            display: inline-block;
            margin: 0.4em;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 100%;
                border-top: 2px solid #BDAE82;
                margin-top: .6em;
            }

            &::before {
                margin-left: -102%;
            }

            &::after {
                margin-left: 2%;
            }
        }
    }
}

.about__skills {
    display: grid;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    margin-top: 60px;

    @media (max-width: 768px){
        flex-wrap: wrap;
    }

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        margin-right: 20px;
        margin-bottom: 36px;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 768px) {
            &:nth-child(2) {
                margin-right: 0;
            }
        }
    }

    .img__skill {
        width: 62px;
        height: 50px;
        margin-bottom: 50px;
    }

    h3 {
        font-size: 20px;
        font-family: $font-inter;
        color: #fff;
    }

    p {
        font-size: 16px;
        font-family: $font-inter;
        color: #fff;
        text-align: center;
        margin-top: 15px;
    }

    .photo__skill {
        background: url('../assets/icons/camera\ 1.png') no-repeat center center;
        background-size: contain;
    }

    .video__skill {
        background: url('../assets/icons/video\ 1.png') no-repeat center center;
        background-size: contain;
    }

    .retouch__skill {
        background: url('../assets/icons/image\ 1.png') no-repeat center center;
        background-size: contain;
    }

    .audio__skill {
        background: url('../assets/icons/mic\ 1.png') no-repeat center center;
        background-size: contain;
    }
}

.portfolio__container {
    padding-top: 100px;

    .title__section {
        span {
            &::before, &::after {
                width: 85%;
            }

            &::before {
                margin-left: -87%;
            }
        }
    }

    .btn__block {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .btn__season {
            width: 220px;
            height: 55px;
            background: black;
            border: 2px solid #BDAE82;
            color: #BDAE82;
            margin: 10px;
            font-size: 20px;
            font-family: $font-inter;
            box-shadow: 0 2px 15px #bdae82;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background: #BDAE82;
                color: black;
                transition: all 0.5s ease-out;
            }

            &.btn__season__active {
                background: #BDAE82;
                color: black;
            }

            @media (max-width: 720px) {
                &:nth-child(3){
                    margin-left: 0;
                }
            }

            @media (max-width: 460px) {
                width: 160px;
                height: 35px;
                font-size: 16px;
            }
        }
    }

    .portfolio__wrapper {
        margin-top: 50px;
        padding: 0 20px;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;

        .portfolio__img {
            width: 450px;
            height: 560px;

            @media (max-width: 460px) {
                width: 380px;
                height: 485px;
            }
        }
    }
}

.video__container {
    padding-top: 100px;

    .video__wrapper {
        padding: 60px 10px 0;

        @media (max-width: 768px) {
            padding: 60px 0 0;
        }

        .video__player {
            background-image: url('../assets/video-player.png');
            background-repeat: no-repeat;
            width: 100%;
            height: 705px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;


            @media (max-width: 768px) {
                height: 341px;
                background-size: cover;
            }

            .btn__video {
                background-image: url('../assets/icons/Play_hover.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 130px;
                height: 130px;
                position: absolute;
                cursor: pointer;

                @media (max-width: 768px) {
                    width: 75px;
                    height: 75px;
                }

                &:hover {
                    background-image: url('../assets/icons/Play_hover_gold.png');
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
}

.price__container {
    padding: 100px 10px 60px;

    .price__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

        .block_price {
            border: 4px solid #bdae82;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 450px;
            margin: 10px 15px 10px 0;
            padding: 45px 0;

            &:last-child {
                margin-right: 0;
            }

            h3 {
                font-size: 28px;
                font-family: $font-merri;
                margin-bottom: 20px;
            }
            .coast {
                font-size: 24px;
                color: #bdae82;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                line-height: 30px;
            }

            button {
                width: 220px;
                height: 55px;
                background: #bdae82;
                color: black;
                font-size: 20px;
                font-family: $font-inter;
                border-radius: 10px;
                margin-top: 40px;
                border: 2px solid #BDAE82;
                box-shadow: 0 2px 15px #bdae82;

                &:hover {
                    color: #fff;
                    transition: all 0.3s ease-out;
                }
            }

            @media (max-width: 768px) {
                &:first-child {
                    margin-right: 0;
                }

                &:nth-child(2) {
                    margin-right: 0;
                }
            }
        }
        

        @media (max-width: 768px) {
            justify-content: center;
        }
    }
}

.contact_container {
    display: flex;
    justify-content: flex-end;
    background: url('../assets/contacts.jpg') no-repeat;
    background-size: cover;
    height: 700px;

    @media (max-width: 768px){
        justify-content: center;
        text-align: center;
    }

    .contact__wrapper {
        display: flex;
        flex-direction: column;
        margin: 60px 20px 0 0;
        width: 450px;

        h2 {
            color: #bdae82;
            font-size: 40px;
            font-family: $font-merri;
            margin-bottom: 40px;
        }

        .contact__form {
            display: flex;
            flex-direction: column;

            input {
                margin-bottom: 20px;
                height: 50px;
                background: rgba(0, 0, 0, 0.5);
                border: 2px solid #BDAE82;
                padding: 5px 0 5px 20px;
                font-family: $font-inter;
                font-size: 20px;
                border-radius: 10px;
    
                &::placeholder {
                    color: #bdae82;
                }

                &.contact__text {
                    height: 100px;
                    margin-bottom: 30px;
                    
                    &::placeholder {
                        text-align: start;
                        transform: translateY(-25px);
                    }
                }
            }

            button {
                width: 220px;
                height: 55px;
                background: #bdae82;
                color: black;
                font-family: $font-inter;
                font-size: 20px;
                border: 2px solid #BDAE82;

                &:hover {
                    color: #fff;
                    transition: all 0.3s ease-out;
                }
            }

            @media (max-width: 768px){
                align-items: center;
            }
        }
    }
}